<nav>

<ul class="container">
    <li class="titles">
    Belajar dari Wibu
    </li>
<li>
<a href="">Home</a>
</li>

<li>
<a href="">About</a>
</li>

<li>
<a href="">Contact</a>
</li>


</ul>

</nav>